@font-face {
    font-family: 'MyFont';
    src: url('MyFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyOtherFont';
    src: url('MyOtherFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}