@font-face {
    font-family: 'MyFont';
    src: url('MyFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyOtherFont';
    src: url('MyOtherFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '_pixelOperator';
    src: url('PixelOperator.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '_pixelOperator_bold';
    src: url('PixelOperator-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '_pixelOperator_title';
    src: url('PixelOperatorHBSC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}